.counter{
  margin: 3vh 40vw;
}
input{
  padding:5px;
  outline: none;
  font-size: 21px;
  border-radius: 3px;
}
input:focus{
  border:1px solid blue;
}
button{
  padding:8px;
  background-color: rgb(184, 11, 175);
  border:none;
  margin:13px;
  border-radius: 4px;
  font-size: 20px;
  color: white;
}
button:hover{
  background-color: rgb(212, 105, 189);
}
